.main-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--light-cyan);
}

.section-header {
    margin: 5% 0 0 0;
    text-align: center;
    width: 90%;
    padding: 1rem 0rem;
    color: var(--black-and-blue);
    border-bottom: 2px solid var(--black-and-blue);
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 3rem;
    justify-content: space-evenly;
    margin: 0 0 2rem 0;
}

.profile-image {
    max-width: 100%;
    border-radius: 25px;
}

.profile-summary {
    text-align: left;
    background-color: var(--pale-cyan);
    color: var(--black-and-blue);
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 4rem;
}

.profile-summary p {
    margin-bottom: 1.2rem;
}

.profile-summary ul {
    list-style-type: disc;
    margin-left: 2rem;
}


/* When using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 992px) {

    .main-sections {
        flex-direction: row;
        min-height: 550px;
    }

    .section-header {
        flex-grow: 1;
        /* max-height: 400px; */
        max-width: 20%;
        margin: 0;
        /* padding: 150px 4rem; */
        padding: 0 1rem 400px 1rem;
        color: var(--black-and-blue);
        border-bottom: none;
        border-right: 5px solid var(--black-and-blue);
    }

    .section-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* gap: 2rem; */
        /* max-height: 75%; */
    }

    .profile-image {
        max-width: 25%;
        border-radius: 25px;
    }

    .profile-summary {
        margin: 0 5rem 0 0;
    }

}