.main-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--pale-cyan);
}

.section-header {
    margin: 5% 0 0 0;
    text-align: center;
    width: 75%;
    padding: 1rem;
    color: var(--dark-cyan);
    border-bottom: 2px solid var(--dark-cyan);
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    gap: 3rem;
    justify-content: space-evenly;
    margin: 0 0 2rem 0;
}

#about-me img {
    max-width: 66%;
    /* max-width: 250px; */

    border-radius: 100%;
    /* border: 10px solid var(--dark-cyan); */
    /* border: 2px solid var(--black-and-blue); */
    
    /* border: 10px solid var(--modr-cyan); */
    /* border: 10px solid var(--black-and-blue); */
    /* margin: 2.5rem; */
}

#about-me summary {
    max-width: 100%;
    text-align: left;
    /* background-color: var(--dark-cyan); */
    color: var(--black-and-blue);
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 4rem;
}

#about-me p {
    margin-bottom: 1.2rem;
}

#about-me ul {
    list-style-type: disc;
    margin-left: 2rem;
}

.background-image {
    height: 500px;
    width: 100%;
    background-image: url('../assets/images/shenandoah-mtns.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid var(--black-and-blue);
}


/* When using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 992px) {

    .background-image {
        height: 800px;
    }

    .main-sections {
        flex-direction: row;
        min-height: 550px;
    }

    .main-sections h2 {
        flex-grow: 1;
        /* max-height: 400px; */
        max-width: 20%;
        margin: 0;
        /* padding: 150px 4rem; */
        padding: 0 1rem 400px 1rem;
        color: var(--black-and-blue);
        border-bottom: none;
        border-right: 5px solid var(--black-and-blue);
    }

    .section-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* gap: 2rem; */
        /* max-height: 75%; */
    }



    #about-me img {
        max-width: 25%;
        /* max-width: 250px; */
        border-radius: 25px;
        /* border: 3px solid var(--dark-cyan); */
        /* border: 10px solid var(--modr-cyan); */
        /* border: 10px solid var(--black-and-blue); */
        /* margin: 2.5rem; */
    }

    #about-me summary {
        margin: 0 5rem 0 0;
    }

}