.main-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--pale-cyan);
}


