.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3rem 1.5rem;
    gap: 3rem;
    background-color: var(--light-cyan);
}

.page-header {
    text-align: center;
    color: var(--black-and-blue);
}

.page-header h2 {
    margin: 0;
}

.page-divider {
    background-color: var(--black-and-blue);
    height: 3px;
    border-radius: 3px;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
    color: var(--black-and-blue);
}

/* When using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 992px) {

    .page-container {
        flex-direction: row;
        align-items: stretch;
        gap: 5rem;
        padding: 5rem;
        min-height: 50vh;
    }

    .page-header {
        color: var(--black-and-blue);
        margin: 0;
        padding: 0 1rem;
        min-width: 200px;
    }

    .page-divider {
        background-color: var(--black-and-blue);
        min-width: 5px;
        border-radius: 5px;
        height: auto;
    }

    .page-content {
        gap: 1rem;
    }
}