.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 3rem;
}


.profile-image {
    width: 100%;
    border-radius: 25px;
    border: 2px solid var(--black-and-blue);
}

.profile-summary {
    text-align: left;
    background-color: var(--dark-cyan);
    color: var(--pale-cyan);
    padding: 2rem;
    border-radius: 25px;
    /* border: 2px solid var(--black-and-blue); */
}

.profile-summary p {
    margin-bottom: 1.2rem;
    font-weight: 700;
}

.profile-summary ul {
    margin-left: 2rem;
    margin-bottom: 2rem;
}


/* When using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 992px) {

    .profile-card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        gap: 3rem;
    }

    .profile-image {
        max-width: 25%;
        border-radius: 25px;
    }

    .profile-summary {
        margin: 0 5rem 0 0;
        background-color: var(--light-cyan);
        color: var(--black-and-blue);
    }

}