/* Color schemes sourced from https://visme.co/blog/website-color-schemes/ */

:root {
    /* Color Palette */
    --black-and-blue: #17252A;
    --dark-cyan: #2B7A78;
    --modr-cyan: #3AAFA9;
    --light-cyan: #b2d8d6;
    --lighter-cyan: #DEF2F2;
    --pale-cyan: #FEFFFF;
    color: var(--black-and-blue);
    background-color: var(--lighter-cyan);

    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}


